.navbar{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 60px;
    overflow: hidden;
    /*font-size: 20px;*/
    box-shadow:  0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FCFCFC;
}

li {
    float: left;
    display: block;
    color:black;
    font-family: "Trebuchet MS", Helvetica;
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}


body {
    background-color: #D8ECFC;
}

h1{
    color: black;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
    font-size: 40px;
    
}

h3{
    color:black;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 40px;

}

h4{
    color:black;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: -10px;
    font-size:20px;
}

h2{
    color:black;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: left;
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: -20px;
    font-size:30px;
    
}


.paragraph{
    width:1000px;
    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;

}

p{
    text-align: center;
}



.image img{
    width:40%;
    height: auto;
    margin-left: 395px;
    border: 2px solid ;
    display:block;


}

#image img{
    width:27%;
    height:auto;
    border-radius: 5%;
    display: inline-block;
}

#safeway img{
    width:25%;
    border-radius: 10%;
    border:1px solid;
    display:inline;
    margin-left: 40px;
    margin-bottom: -362px;
}
#saver img{
    width:25%;
    border-radius: 10%;
    border:1px solid;
    display:inline;
    margin-left: 955px;
    margin-top: -1000px;
}
.diabetes {
    width:1000px;
    margin-left: 270px;
    margin-top: 5px;
    font-size: 17px;
    display: inline-block;
    margin-bottom: -30px;
}

#wrap {
    text-align: center;
    display: inline-block;
    margin-top: -100px;
    width:500px;
}

.graph img{
    width: 30%;
    height:auto;
    border-radius: 10%;
    margin-left: 170px;
}



.table img{
    width: 27%;
    height:auto;
    margin-left: 200px;
    padding-top: 20px;
}


 #pricetable img{
    width:50%;
    height:auto;
    padding-left: 320px;
 }

 h5{
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    margin-bottom: -10px;
 }

.sources {
    font-size: 13px;

}